<div class="c-searchConsole">
  <form class="translation-form" (ngSubmit)="onSubmit()" [formGroup]="translationForm">
    <div mat-dialog-actions class="switch-langs-button">
      <button mat-raised-button="" type="button" (click)="swapLangs()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
    </div>
    <mat-form-field class="language-selector-field">
      <mat-select placeholder="From" [formControl]="fromLanguage" required>
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{ lang.language_code | uppercase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formError && fromLanguage.hasError('required')">
        Please choose a language!
      </mat-error>
      <mat-hint>{{fromLanguage.value?.name}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="language-selector-field">
      <mat-select placeholder="To" [formControl]="toLanguage" required>
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{ lang.language_code | uppercase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formError && toLanguage.hasError('required')">
        Please choose a language!
      </mat-error>
      <mat-hint>{{toLanguage.value?.name}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="phrase-input-field">
      <input matInput id="phrase-input" formControlName="phrase" placeholder="Phrase" required/>
      <mat-error *ngIf="formError && phrase.invalid && phrase.errors.required">
        No phrase given to translate!
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="translate-button">
      <button mat-raised-button [disabled]="buttonDisabled" color="primary" type="submit">Translate</button>
    </div>
  </form>
</div>

<div class="o-container--translations">
  <div class="c-translation">
    <h3>Translations</h3>
    <div *ngIf="!translations" class="empty-result">
      <h4>Let's search for a phrase!</h4>
    </div>

    <div *ngIf="translations && !translations.length" class="empty-result">
      <h4>No results for this phrase</h4>
    </div>

    <div class="c-card hoverAble" *ngFor="let phrase of translations" (click)="translate(phrase.phrase, toLanguage.value.language_code, fromLanguage.value.language_code)">
      <div class="c-card__content">
        <p>{{phrase.phrase}}</p>
      </div>
    </div>
  </div>

  <div class="c-translationsHistory">
    <h3>Search History</h3>
    <div *ngIf="!(translationHistory && translationHistory.length)" class="empty-result">
      <h4>Your Search History is empty</h4>
    </div>
    <div class="c-card hoverAble" *ngFor="let phrase of translationHistory" (click)="translate(phrase.phrase, phrase.srcLang, phrase.dstLang)">
      <div class="c-card__content">
        <p>{{phrase.phrase}}</p>
      </div>
    </div>
  </div>
</div>
