:host(app-home) {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
}

.translation-form {
  display: flex;
  align-items: center;
  justify-content: left;
}

.translation-form mat-form-field {
  margin: 0 5px 0 5px;
}

.translate-button {
  margin: 0 0 0 15px;
}

.switch-langs-button {
  margin: 0 10px;
}

.c-searchConsole {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  padding: 30px 36px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.o-container--translations {
  display: flex;
  padding: 24px 36px;
  min-height: 80%;
}

.c-translation {
  flex-basis: 70%;
  border-right: 1px solid #e2e2e2;
  margin-right: 24px;
}

.c-translationsHistory {
  flex-basis: 35%;
}

h3 {
  color: #1E1F23;
}

.empty-result {
  display: flex;
  height: 90%;
  align-items: center;
}

.empty-result h4 {
  font-size: 14px;
  font-weight: 400;
}

@media all and (max-width: 860px) {

  .o-container--translations {
    flex-wrap: wrap;
  }

  .c-translation {
    flex-basis: 100%;
    border-bottom: 1px solid #e2e2e2;
    border-right: none;
    margin-bottom: 24px;
  }

  .c-translationsHistory {
    flex-basis: 100%;
  }

  .translation-form {
    flex-direction: column;
    width: 100%;
  }

  .translation-form mat-form-field {
    width: 100%;
  }

  .c-searchConsole {
    width: 80%;
    margin: 36px auto 0;
  }
}
