[class*="generate-test-dialog"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .generate-test-dialog {width: 40vw;}
}

.generate-test-dialog {
    width: 100%;
    margin: 5px 0px;
}

.switch-langs-button {
    margin: 0 10px;
}

.options-console {
    display: flex;
    align-items: center;
    justify-content: left;
}