<div class="row">
  <div class="container generate-test-dialog">
    <h1 mat-dialog-title color="primary">Test properties</h1>
    <form class="generate-test-form" (ngSubmit)="onSubmit()" [formGroup]="generateTestForm">
      <div mat-dialog-content>
        <div class="options-console">
          <div mat-dialog-actions class="switch-langs-button">
            <button mat-raised-button="" type="button" (click)="swapLangs()">
              &nbsp;<mat-icon>swap_horiz</mat-icon>
            </button>
          </div>
          <mat-form-field class="language-selector-field">
            <mat-select placeholder="From" [formControl]="fromLanguage" required>
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{ lang.language_code | uppercase }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formError && fromLanguage.hasError('required')">
              Please choose a language!
            </mat-error>
            <mat-error *ngIf="formError && generateTestForm.errors?.distinctLanguages">
              Can't be the same as ToLang!
            </mat-error>
            <mat-hint>{{fromLanguage.value?.name}}</mat-hint>
          </mat-form-field>
          <mat-form-field class="language-selector-field">
            <mat-select placeholder="To" [formControl]="toLanguage" required>
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{ lang.language_code | uppercase }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formError && toLanguage.hasError('required')">
              Please choose a language!
            </mat-error>
            <mat-error *ngIf="formError && generateTestForm.errors?.distinctLanguages">
              Can't be the same as FromLang!
            </mat-error>
            <mat-hint>{{toLanguage.value?.name}}</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div mat-dialog-actions class="float-right">
        <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1">Cancel</button>
        <button mat-raised-button [disabled]="buttonDisabled" color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>