[class*="register-dialog"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .register-dialog {width: 40vw;}
}

.register-data {
    width: 100%;
    margin: 5px 0px;
}