<div class="row">
  <div class="container register-dialog">
    <h1 mat-dialog-title color="primary">Sign up</h1>
    <form class="register-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div mat-dialog-content>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="firstname-input" formControlName="firstName" placeholder="First name" />
            <mat-error *ngIf="formError && firstName.invalid && firstName.errors.minlength">
              Must be at least 2 characters!
            </mat-error>
            <mat-error *ngIf="formError && firstName.invalid && firstName.errors.required">
              Please enter your first name!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="lastname-input" formControlName="lastName" placeholder="Last name" />
            <mat-error *ngIf="formError && lastName.invalid && lastName.errors.minlength">
                Must be at least 2 characters!
            </mat-error>
            <mat-error *ngIf="formError && lastName.invalid && lastName.errors.required">
              Please enter your last name!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="username-input" formControlName="username" placeholder="Username" />
            <mat-error *ngIf="formError && username.invalid && username.errors.minlength">
                Must be at least 3 characters!
            </mat-error>
            <mat-error *ngIf="formError && username.invalid && username.errors.required">
              Please enter a username!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="email-input" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="formError && email.invalid && email.errors.email">
              Not a valid email!
            </mat-error>
            <mat-error *ngIf="formError && email.invalid && email.errors.required">
              Please enter your email!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="password-input" type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="formError && password.invalid && password.errors.minlength">
              Password must be at least 6 characters long!
            </mat-error>
            <mat-error *ngIf="formError && password.invalid && password.errors.required">
              Please enter your password!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="register-data">
            <input matInput id="confirm-password-input" type="password" formControlName="passwordConfirm" placeholder="Confirm your password" />
            <mat-error *ngIf="formError && (registerForm.errors?.mismatch || passwordConfirm.invalid && passwordConfirm.errors.required)">
              Password confirmation doesn't match your password!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="float-right">
        <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1">Cancel</button>
        <button mat-raised-button [disabled]="buttonDisabled" color="primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>