<div class="c-card test-list-container">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>
  <div class="table-filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.type === 'PUBLIC'" matTooltip="Public" matTooltipPosition="above">lock_open
        </mat-icon>
        <mat-icon *ngIf="element.type === 'PRIVATE'" matTooltip="Private" matTooltipPosition="above">lock_outline
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="from_to">
      <mat-header-cell *matHeaderCellDef> From - To</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.from_language | uppercase}} -> {{element.to_language | uppercase}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created_at | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created By</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created_by}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_taken_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Taken At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{(element.last_taken_at | date) || 'Not yet taken'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_result">
      <mat-header-cell *matHeaderCellDef> Last Result (%)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.last_resolution_ratio || 0}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon (click)="take(row)" matTooltip="Take the test" matTooltipPosition="above">launch</mat-icon>
        <mat-icon (click)="delete(row)"
                  matTooltip="Delete"
                  matTooltipPosition="above"
                  *ngIf="authenticationService.isAuthenticated && user && row.owner_id === user.id">
          delete_outline
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true"
                 (page)="refresh()">
  </mat-paginator>
</div>
<nav class="fab-container">
  <a class="buttons" tooltip="Generate New Test" (click)="generate()">
    <mat-icon>timeline</mat-icon>
  </a>
  <a class="buttons" tooltip="New Test" (click)="create()"><span><span class="rotate"></span></span></a>
</nav>
