:host {
  display: flex;
  max-width: 1200px;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

.fab-container {
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
}
.fab-container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 1;
}
.fab-container:hover .rotate {
  transform: rotate(0deg);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  color: #ffffff!important;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: 195ms ease-out;
}
.buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}

.buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}
.buttons:nth-last-of-type(2) {
  background-color: #D2A518;
  color: #ffffff;
}

.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
span.rotate {
  background: #DB4437 url("https://cbwconline.com/IMG/Codepen/Add.svg") center no-repeat;
  position: absolute;
  transform: rotate(90deg);
  transition: 195ms ease-out;
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 195ms ease-out;
}
[tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

.test-list-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .test-list-container {
    width: 70%;
  }
}