<div class="quiz-container">
  <div class="translatable-phrase-container phrase-container">
    {{i+1}}. <strong>{{quiz.phrase.phrase}}</strong>
  </div>

  <mat-radio-group class="quiz-choice-group" [formControl]="form.controls[quiz.id]" [name]="quiz.id">
    <mat-radio-button *ngFor="let choice of quiz.choices"
                      [value]="choice.id"
                      [name]="choice.id"
                      class="quiz-choice phrase-container">
      {{choice.phrase}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-error class="quiz-error-container"
             *ngIf="submitted && !form.controls[quiz.id].isValid && form.controls[quiz.id].hasError('required')">
    You must choose a translation to submit the test!
  </mat-error>
</div>