:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.quiz-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  border-bottom: 1px solid #888888;
}

.phrase-container {
  /*flex: 1;*/
  margin: 10px 5px;
  vertical-align: center;
  text-wrap: normal;
}

.translatable-phrase-container {
  flex: 1;
  /*flex-basis: 100%;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
}

.quiz-choice-group {
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*width: 100%;*/
}

.quiz-choice {
  flex: 1;
}

.quiz-error-container {
  flex: 1 1 auto;
  flex-basis: 100%;
}