:host(app-toolbar) {
    flex: 1 100%;
    height: 64px;
}

.app-toolbar {
    position: fixed;
    width: 100vw;
}

.c-toolbar {
  display: flex;
  min-height: 64px;
  background-color: #1E1F23;
  /*background-color: #1BAA4F;*/
  color: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  z-index: 10;
}

.c-toolbar__content {
  height: auto;
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.c-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 64px;
  align-items: center;
}

.c-navigation__item {
  min-height: 64px;
  display: flex;
}

.c-navigation__item.active {
  background-color: #ffffff;
  color: #1E1F23;
}

.mat-button {
  min-width: 65px;
}