<div class="c-toolbar">
  <div class="c-toolbar__content">
    <ul class="c-navigation">
      <li class="c-navigation__item" routerLink="/dictionary" routerLinkActive="active">
        <button mat-button>
          Dictionary
        </button>
      </li>
      <li class="c-navigation__item" routerLink="/tests" routerLinkActive="active">
        <button mat-button>
          Tests
        </button>
      </li>
      <li class="c-navigation__item" routerLink="/hangman" routerLinkActive="active">
        <button mat-button>
          Hangman
        </button>
      </li>
      <li class="c-navigation__item" routerLink="/phrases" routerLinkActive="active" *ngIf="currentUser">
        <button mat-button>
          Phrases
        </button>
      </li>
    </ul>
    <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
    <span class="c-navigation__item">
      <button mat-button *ngIf="!currentUser" (click)="login()">
        <span class="current-user-name">Guest</span>
      </button>
      <button mat-button  *ngIf="currentUser" routerLink="/profile" routerLinkActive="active">
        <span class="current-user-name">
          {{currentUser.first_name}}
        </span>
      </button>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu xPosition="after" #menu="matMenu">
      <button mat-menu-item *ngIf="!currentUser" (click)="login()">
        <mat-icon>face</mat-icon>
        Sign in
      </button>
      <button mat-menu-item *ngIf="currentUser" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
      <button mat-menu-item *ngIf="!currentUser" (click)="register()">
        <mat-icon>add_circle_outline</mat-icon>
        Sign up
      </button>
    </mat-menu>
  </div>
</div>
