:host {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
}

.c-testPage {
  padding: 24px 36px;
}

.card-action-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.card-action-button {
  min-width: 180px;
}

.test-name-container{
  width: 45%;
  text-align: center;
}

.test-name-container .mat-error{
  font-size: 55%;
}

.alphabetized-phrase-container {
  width: 100%;
}

.translatable-phrase-container {
  margin-top: 15px;
}

.test-type-selector-field {
  width: 10%;
  text-align: right;
}

@media all and (max-width: 450px) {
  .c-testPage {
    padding: 24px 0;
  }

  .test-name-container{
    width: 100%;
  }

}