<div class="fill-remaining-space c-testPage">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>
  <mat-card *ngIf="phrases">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-title class="text-center">
        <mat-form-field class="test-name-container">
          <input matInput [formControl]="form.controls['name']" placeholder="Test name" required>
          <mat-error *ngIf="formError && form.controls['name'].errors.required">
            The test must have a name
          </mat-error>
          <mat-error *ngIf="formError && form.controls['name'].errors.minlength">
            Input at least 3 chars
          </mat-error>
          <mat-error *ngIf="formError && form.controls['name'].errors.maxlength">
            A maximum  of 255 chars allowed
          </mat-error>
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle class="text-center">
        <mat-form-field class="test-type-selector-field">
          <mat-select placeholder="Type" [formControl]="form.controls['type']" required>
            <mat-option value="PUBLIC">
              Public
            </mat-option>
            <mat-option value="PRIVATE">
              Private
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formError && form.controls['type'].errors.required">
            Please choose a type!
          </mat-error>
        </mat-form-field>
         test from {{srcLang| uppercase}} to {{dstLang | uppercase}}
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-tab-group class="alphabetized-phrase-container">
          <mat-tab *ngFor="let letter of phrases | objectKeys">
            <ng-template mat-tab-label>
              {{letter | uppercase}}
            </ng-template>
            <div class="translatable-phrase-container" *ngFor="let phrase of phrases[letter]">
              <mat-checkbox
                  class="translatable-phrase"
                  [formControl]="form.controls[phrase.id]"
                  [value]="phrase.id"
                  [name]="phrase.id">
                {{phrase.phrase}}
              </mat-checkbox>
            </div>
          </mat-tab>
        </mat-tab-group>

        <mat-card-actions>
          <div class="card-action-button-container">
            <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1" class="card-action-button">Cancel
            </button>
            <button mat-raised-button [disabled]="buttonDisabled || (submitted && formError)" color="primary"
                    type="submit" class="card-action-button">
              Submit
            </button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>