/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  background-color: #f8f8f8;
  color: #616161;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button.mat-raised-button.mat-primary {
  background-color: #1E1F23;
  outline-color: #1E1F23;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.notification-msg {
  min-width: 300px;
  color: white;
  font-weight: 400;
  border: 1px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  border-radius: 8px!important;
}

.notification-success-msg {
    background-color: rgb(59, 192, 59);
}

.notification-error-msg {
    background-color: rgb(231, 75, 75);
}

.notification-warning-msg {
    background-color: rgb(252, 141, 67);
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-button-wrapper {
    height: auto !important;
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.floating-button-wrapper > button:focus {
    outline: 0;
}

.mat-header-cell, .mat-cell {
    text-align: left;
}

@media only screen and (max-width: 450px) {
    .mat-paginator-container {
        justify-content: flex-start !important;
    }
}


.c-card {
  display: inline-block;
  margin: 8px;
  min-width: 150px;
  padding: 12px;
  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  border-radius: 8px;
}

.c-card.hoverAble {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: 195ms ease-out;
}

.c-card.hoverAble:hover {
  transform: translateY(-2px);
  box-shadow: 0 9px 25px rgba(0, 0, 0, .15);
  transition: 225ms ease-out;
}

.c-card p {
  margin: 0;
}

.mat-dialog-container {
  min-width: 40vw;
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .mat-dialog-container {min-width: 80vw;}
}