:host {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
}

.c-testPage {
  padding: 24px 36px;
}

.card-action-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.card-action-button {
  min-width: 180px;
}

@media all and (max-width: 450px) {
  .quiz-choice {
    flex-basis: 100%;
  }

  .c-testPage {
    padding: 24px 0;
  }

}