<div class="fill-remaining-space c-testPage">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>
  <mat-card *ngIf="test">
    <mat-card-title class="text-center">
      Test #{{test.id}}{{test.name ? ' : ' + test.name : ''}}
    </mat-card-title>
    <mat-card-subtitle class="text-center">
      From {{test.from_language | uppercase}} to {{test.to_language | uppercase}}
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <app-dynamic-quiz-form *ngFor="let quiz of test.quizzes; let i = index"
                               [quiz]="quiz"
                               [i]="i"
                               [form]="form"
                               [submitted]="submitted">

        </app-dynamic-quiz-form>
        <mat-card-actions>
          <div class="card-action-button-container">
            <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1" class="card-action-button">Cancel
            </button>
            <button mat-raised-button [disabled]="buttonDisabled || (submitted && formError)" color="primary"
                    type="submit" class="card-action-button">
              Submit
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>