<div class="container test-result-dialog">
  <h1 mat-dialog-title color="primary">Test results</h1>
    <div mat-dialog-content>
      <p *ngFor="let result of data.correct">
        {{result.phrase}} -> {{result.answer}} <mat-icon>check_circle</mat-icon>
      </p>
      <p *ngFor="let result of data.incorrect">
        {{result.phrase}} -> {{result.answer}} <mat-icon>close</mat-icon>
      </p>
    </div>

    <div mat-dialog-actions class="float-right">
      <button mat-raised-button (click)="close()" type="button">OK</button>
    </div>
</div>