<div class="fill-remaining-space c-profilePage">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>

  <mat-card *ngIf="dataLoaded && text">
    <mat-card-title class="text-center">
      Guess the word :)
    </mat-card-title>
    <mat-card-subtitle class="text-center">
      It's a(n) {{language | lowercase}} phrase
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="stats">
        <p><span>Wrong tries left:</span> {{triesLeft}}</p>
      </div>

      <div class="phrase-container">
        <div mat-raised-button *ngFor="let letter of text.split('')">
          {{ !triesLeft || isGuessed() || disabledLetters[letter] ? letter : '?'}}
        </div>
      </div>

      <div class="alphabet-container">
        <button mat-raised-button *ngFor="let letter of alphabet"
                (click)="tryLetter(letter)"
                [disabled]="disabledLetters[letter] || isGuessed() || !triesLeft">
          {{letter}}
        </button>
      </div>
      <mat-card-actions>
        <div class="card-action-button-container">
          <button mat-raised-button (click)="newGame()" class="card-action-button">
            New game
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>