:host {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
}

.c-profilePage {
  padding: 24px 36px;
}

.mat-card-content {
  padding-top: 20px;
}

.card-action-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-action-button {
  min-width: 180px;
  flex-basis: 30%;
}

.alphabet-container {
  max-width: 450px;
  margin: 10px auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.alphabet-container button {
  text-align: center;
  flex-basis: 14%;
  min-width: 50px;
}

.phrase-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.phrase-container div{
  min-width: 25px;
  min-height: 25px;
}

@media all and (max-width: 700px) {
  .c-profilePage {
    padding: 24px 0;
  }

  .card-action-button {
    flex-basis: 100%;
  }
}