<div class="row">
  <div class="container login-dialog">
    <h1 mat-dialog-title color="primary">Login</h1>
    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div mat-dialog-content>
        <div class="container-fluid">
          <mat-form-field class="login-data">
            <input matInput id="email-input" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="formError && email.invalid && email.errors.email">
              Not a valid email!
            </mat-error>
            <mat-error *ngIf="formError && email.invalid && email.errors.required">
              Please enter your email!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="login-data">
            <input matInput id="password-input" type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="formError && password.invalid && password.errors.minlength">
              Password must be at least 6 characters long!
            </mat-error>
            <mat-error *ngIf="formError && password.invalid && password.errors.required">
              Please enter your password!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="float-right">
        <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1">Cancel</button>
        <button mat-raised-button [disabled]="buttonDisabled" color="primary" type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>