:host {
  display: flex;
  max-width: 1200px;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 195ms ease-out;
}
[tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

.phrase-list-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .phrase-list-container {
    width: 70%;
  }
}