<div class="c-card phrase-list-container">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>
  <div class="table-filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="translation_direction">
      <mat-header-cell *matHeaderCellDef>Translated From -> To</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.phrase.language_code | uppercase}} -> {{element.dst_lang | uppercase}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phrase">
      <mat-header-cell *matHeaderCellDef>Phrase</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.phrase.phrase}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_tested_at">
      <mat-header-cell *matHeaderCellDef>Last tested at</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.created_at === element.updated_at ? '-' : element.updated_at | date}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="untrained_index">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Learned</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{(10 - element.untrained_index)*10}}%
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon (click)="take(row)" matTooltip="Take the test" matTooltipPosition="above">launch</mat-icon>
        <mat-icon (click)="delete(row)"
                  matTooltip="Delete"
                  matTooltipPosition="above"
                  *ngIf="authenticationService.isAuthenticated && user && row.owner_id === user.id">
          delete_outline
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true"
                 (page)="refresh()">
  </mat-paginator>
</div>
