<div class="fill-remaining-space c-profilePage">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>

  <mat-card *ngIf="data">
    <mat-card-title class="text-center">
      Account information
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Profile info">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="form">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      First Name
                    </mat-panel-title>
                    <mat-panel-description>
                      {{data.first_name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <input matInput placeholder="First name" (blur)="update()" formControlName="firstName">
                    <mat-error *ngIf="firstName.invalid && firstName.errors.minlength">
                      Must be at least 2 characters!
                    </mat-error>
                    <mat-error *ngIf="firstName.invalid && firstName.errors.required">
                      Please enter your first name!
                    </mat-error>
                  </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Last Name
                    </mat-panel-title>
                    <mat-panel-description>
                      {{data.last_name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <input matInput placeholder="Last name" (blur)="update()" formControlName="lastName">
                    <mat-error *ngIf="lastName.invalid && lastName.errors.minlength">
                      Must be at least 2 characters!
                    </mat-error>
                    <mat-error *ngIf="lastName.invalid && lastName.errors.required">
                      Please enter your last name!
                    </mat-error>
                  </mat-form-field>
                </mat-expansion-panel>
              </form>
              <mat-expansion-panel disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Username
                  </mat-panel-title>
                  <mat-panel-description>
                    {{data.username}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Email
                  </mat-panel-title>
                  <mat-panel-description>
                    {{data.email}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput placeholder="Email">
                </mat-form-field>
              </mat-expansion-panel>

              <mat-card-actions>
                <div class="card-action-button-container">
                  <button mat-raised-button (click)="changeEmail()" tabindex="-1" class="card-action-button">
                    Change email
                  </button>
                  <button mat-raised-button (click)="changePassword()" tabindex="0" class="card-action-button">
                    Change Password
                  </button>
                  <button mat-raised-button (click)="deleteAccount()" tabindex="1" class="card-action-button"
                          color="warn">
                    Delete account
                  </button>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Stats">
          <mat-list>
            <mat-list-item>
              <p>
                <span>Tests taken: </span><span>{{data.tests_taken}}</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>
                <span>Average test result: </span><span>{{data.avg_test_result | number}}%</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>
                <span>Phrases searched: </span><span>{{data.phrases_searched}}</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>
                <span>Phrases learned: </span><span>{{data.phrases_learned}}</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>
                <span>Average phrase training index: </span><span>{{(10 - data.avg_phrase_untrained_index) * 10}}%</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>