:host {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  max-width: 1200px;
  margin: 0 auto;
}

.c-profilePage {
  padding: 24px 36px;
}

.card-action-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-action-button {
  min-width: 180px;
  flex-basis: 30%;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
  margin: 0 4px;
}

@media all and (max-width: 700px) {
  .c-profilePage {
    padding: 24px 0;
  }

  .card-action-button {
    flex-basis: 100%;
  }
}