<div class="row">
  <div class="container change-password-dialog">
    <h1 mat-dialog-title color="primary">Change password</h1>
    <form class="change-password-form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div mat-dialog-content>
        <div class="container-fluid">
          <mat-form-field class="form-data">
            <input matInput id="old-password-input" type="password" formControlName="oldPassword" placeholder="Old password" />
            <mat-error *ngIf="formError && oldPassword.invalid && oldPassword.errors.minlength">
              The old password must be at least 6 characters long!
            </mat-error>
            <mat-error *ngIf="formError && oldPassword.invalid && oldPassword.errors.required">
              Please enter your old password!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="form-data">
            <input matInput id="password-input" type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="formError && password.invalid && password.errors.minlength">
              Password must be at least 6 characters long!
            </mat-error>
            <mat-error *ngIf="formError && password.invalid && password.errors.required">
              Please enter the new password!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-fluid">
          <mat-form-field class="form-data">
            <input matInput id="confirm-password-input" type="password" formControlName="passwordConfirm" placeholder="Confirm your password" />
            <mat-error *ngIf="formError && (form.errors?.mismatch || passwordConfirm.invalid && passwordConfirm.errors.required)">
              Password confirmation doesn't match your password!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="float-right">
        <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1">Cancel</button>
        <button mat-raised-button [disabled]="buttonDisabled || (submitted && formError)" color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>