[class*="change-email-dialog"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .change-email-dialog {width: 40vw;}
}

.form-data {
    width: 100%;
    margin: 5px 0px;
}