<div class="row">
  <div class="container change-email-dialog">
    <h1 mat-dialog-title color="primary">Change email</h1>
    <form class="change-email-form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div mat-dialog-content>
        <p>After submitting this form we will shortly send a message to your old email address
          with a link to confirm your intent to change the email address. You have 30 minutes
          to perform the confirmation, after it the link expires.</p>
        <div class="container-fluid">
          <mat-form-field class="form-data">
            <input matInput id="email-input" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="formError && email.invalid && email.errors.email">
              Not a valid email!
            </mat-error>
            <mat-error *ngIf="formError && email.invalid && email.errors.required">
              Please enter your new email!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="float-right">
        <button mat-raised-button (click)="onCancel()" type="button" tabindex="-1">Cancel</button>
        <button mat-raised-button [disabled]="buttonDisabled || (submitted && formError)" color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>